.score-component {
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-column: 100px 100px;
    grid-template-rows: 100px 100px;
    text-align: center;
    * {
        font-family: 'Simply Rounded';
        font-weight: 100;
        font-size: 30px;
    }
}