body {
    background-image: linear-gradient(#121212, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Walkway';
    src: url('../assets/fonts/Walkway.ttf');
}

@font-face {
    font-family: 'Simply Rounded';
    src: url('../assets/fonts/Simply\ Rounded.ttf');
}
